html {
  scroll-behavior: smooth;
  background-color: var(--color-bg);
}

body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-weight: 400;
  color: var(--color-letter);
  word-break: break-word;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
body main {
  flex-grow: 1;
}

code {
  font-family: var(--font-inconsolata), 'Inconsolata', monospace;
  font-size: 0.9em;
  line-height: 1.4;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
button {
  padding: unset;
  margin: unset;
}

h1 {
  font-size: var(--font-huge);
}

h2 {
  font-size: var(--font-big);
}

h3 {
  font-size: var(--font-large);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  word-break: keep-all;
  color: var(--color-letter-strong);
}

li {
  list-style-type: none;
}

strong {
  font-weight: 700;
  color: var(--color-letter-strong);
}

a {
  color: unset;
  text-decoration: none;
}
a strong {
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-size: unset;
  font-weight: unset;
  background: unset;
  color: unset;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

table {
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
  text-align: left;
  font-size: 14px;
  width: 100%;
  min-width: 400px;
}
th,
td {
  padding: 8px 0;
  padding-right: 16px;
  border-bottom: 1px solid var(--color-gray-weaker);
  vertical-align: top;
  line-height: 1.4;
}
th {
  border-top: 1px solid var(--color-gray-weaker);
}
td:last-child {
  padding-right: 8px;
}

.utterances_wrapper {
  margin-top: 80px;
  margin-left: -4px;
  margin-right: -4px;
}
@media print {
  .utterances_wrapper {
    display: none;
  }
}
