@use '@style/mixins' as *;

$light-theme: (
  primary: #3e778c,
  letter-strong: #222,
  letter: #5a5a5a,
  bg: #fff,
  gray-stronger: #61656c,
  gray-strong: #929699,
  gray: #b1b6ba,
  gray-weaker: #ededf3,
  gray-weakest: #f8f9f9,
  glass: #ffffffcc,
  clickable: rgba(0, 0, 0, 0.03),
);

$common-colors: (
  gray-darkest: #222,
  gray-light: #c7c7c7,
  green: #47ffc2,
);

$dark-theme: (
  primary: #7cbfd7,
  letter-strong: #eaeaf0,
  letter: #c4c4cb,
  bg: #272728,
  gray-stronger: #bdbdc1,
  gray-strong: #9b9b9f,
  gray: #717174,
  gray-weaker: #3b3b3c,
  gray-weakest: #303032,
  glass: #272728cc,
  clickable: rgba(255, 255, 255, 0.03),
);

$font-sizes: (
  huge: 32px,
  big: 28px,
  large: 22px,
  medium: 18px,
  regular: 16px,
  small: 14px,
  tiny: 12px,
  micro: 11px,
);

$font-weights: (
  bold: 700,
  normal: 400,
  thin: 100,
);

:root {
  --bp-1: 566px;
  --bp-2: 768px;
  --page-width: 600px;
  --page-margin: 20px;
  --header-height: 42px;
  @include isMobileOrLessWidth {
    --header-height: 48px;
  }

  @each $key, $value in $light-theme {
    #{"--color-" + $key}: #{$value};
  }

  @each $key, $value in $common-colors {
    #{"--color-" + $key}: #{$value};
  }

  @each $key, $value in $font-sizes {
    #{"--font-" + $key}: #{$value};
  }

  @each $key, $value in $font-weights {
    #{"--font-" + $key}: #{$value};
  }
}

[data-theme='dark'] {
  @each $key, $value in $dark-theme {
    #{"--color-" + $key}: #{$value};
  }
}
